<%= render 'shared/header' %>
<div class="user_page">
  <div class="user_show_main">
    <%= form_with model: @profile, :url => {:action => :update} do |f| %>
      <div class="user_image_field">
        <div style="text-align:center;">
          <%= image_tag @profile.user_image.url %>
          <%= f.file_field :user_image, class: "user_image_upload" %>
        </div>
        <%= f.fields_for @user do |u| %>
          <div class="user_nickname_field">
            <%= f.label :nickname, value: "ニックネーム", class: "user_nickname_label" %><br />
            <%= u.text_field :nickname, placeholder: "ニックネームの入力", class: "user_nickname" %>
          </div>
        <% end %> 
      </div>
      <div class="user_pr_field" style="margin-bottom:0;">
        <div class="user_pr_title">自己紹介</div>
        <%= f.text_area :appeal, class: "appeal_field" %>
      </div>
      <div style="text-align:center;">
        <%= f.submit '更新', class: "send_btn" %>
      </div>
    <% end %>
  </div>
</div>