
<div class="header">
  <h2>appilcation</h2>
  <% if user_signed_in? %>
    <%= link_to "ログアウト", destroy_user_session_path, class: "new_account" %>
    <%= link_to "新規作成", new_article_path, class: "new_article" %>
  <% else%>
    <%= link_to "ログイン", new_user_session_path, class: "new_account" %>
  <% end %>
</div>
<div class="container">
  <div class="container-main">
    <div class="articles">
      <% @articles.each do |art| %>
        <div class="article">
          <div class="article__user">
            <img class="article__user__image">
          </div>
          <div class="article-content">
            <%= link_to art.title, article_path(art.id), class: "article-content__title" %>
            <div class="article-content__option">
              <a class="article-content__option__user-name" href="#">user_name</a>
              <span class="article-content__option__created-at"><%= art.created_at %></span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>