<div class="header__image">
</div>
<%= render 'shared/header' %>
<h1 class="category__title"><%= @category.category_name %></h1>
<%= link_to 'topへ戻る', tops_path, style: "padding-left:30px;padding-top:30px;text-decoration:none;" %>
<div class="container">
  <div class="container_main">
    <div class="articles">
      <%= render @articles %>
      <%= will_paginate @articles, :param_name => 'page', :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
    </div>
  </div>
</div>