<%= render 'shared/header' %>
<div class="container">
<%= link_to 'topへ戻る', tops_path, style: "padding-left:30px;padding-top:30px;text-decoration:none;" %>
  <div class="container_main">
    <%= form_with model: @new_article, local: true do |f| %>
      <%= render 'shared/error_message', model: f.object %>
      <div class="container_main__new_article_field">
        <%= f.select(:category_id) do %>
          <% @category_list.each do |category| -%>
            <%= content_tag(:option, category.category_name, value: category.id) %>
          <% end %>
        <% end %>
        <%= f.text_field :title, placeholder: "titleの入力", class: "container_main__new_article_field__input_title_field" %>
        <%= f.text_area :content, placeholder: "内容の入力", class: "container_main__new_article_field__input_content_field" %>
      </div>
      <div class="container_main__btn_field">
        <%= f.submit "作成", class: "container_main__btn_field__send" %>
      </div>
    <% end %>
  </div>
</div>