<%= render 'shared/header' %>
<div class="container_show">
  <div class="container_show_main">
    <div class="article_header">
      <h1 class="article_title"><%= @article.title %></h1>
      <div class="option">
        <% if user_signed_in? %>
          <% if current_user.id == @article.user_id %>
            <%= link_to "編集", edit_article_path, class: "article_edit" %>
            <%= link_to "削除", article_path, class: "article_delete", method: :delete %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="article_text_content">
      <%= @article.content %>
    </div>
  </div>
  <div class="container_comment">
    <% if user_signed_in? %>
      <div class="new_comment_field">
        ※コメントを入力してください
        <%= form_with(model: [@article, @new_comment]) do |f| %>
          <%= f.text_area :comment, class: "comment_input", placeholer: "コメントを入力してください" %>
          <%= f.submit "送信", class: "comment_send" %>
        <% end %>
      </div>
    <% end %>
    <% if @comments.length > 0 %>
      <div class="comments_field">
        コメント一覧
        <% @comments.each do |comment| %>
          <div class="comment">
            <div class="user_field">
              <div class="user_image"></div>
              <div>
                <span class="comment_user_name"><%= comment.user.nickname %></span>
                <span><%= comment.created_at.in_time_zone('Tokyo').strftime("%Y/%m/%d") %></span>
              </div>
            </div>
            <div class="comment_body">
              <p class="text_label">内容:</p>
              <p><%= comment.comment %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p class="no_comment_msg">※コメントは0件です</p>
    <% end %>
  </div>
</div>