<div class="header">
  <h2><%= link_to "appilcation", articles_path, class: "app_title" %></h2>
</div>
<div class="container">
  <div class="container-main">
    <div class="article_header">
      <h1 class="article_title"><%= @article.title %></h1>
      <div class="option">
        <% if current_user.id == @article.user_id %>
          <%= link_to "編集", edit_article_path, class: "article_edit" %>
          <%= link_to "削除", article_path, class: "article_delete", method: :delete %>
        <% end %>
      </div>
    </div>
    <div class="article_content">
      <%= @article.content %>
    </div>
    <div class="new_comment_field" style="padding-top:100px;">
      <%= form_with(model: [@article, @new_comment]) do |f| %>
        <%= f.text_area :comment, class: "comment_input", placeholer: "コメントを入力してください" %>
        <%= f.submit "送信", class: "comment_send" %>
      <% end %>
    </div>
    <% if @comments.length > 0 %>
      <div class="comments_field" style="padding-top:80px;">
        コメント一覧
        <% @comments.each do |comment| %>
          <div class="comment" style="border:1px solid gray;margin-top:10px;">
            <div class="user_field" style="display:flex;padding: 10px 20px;background-color:#EEEEEE;">
              <div class="user_image" style="height:30px;width:30px;border:1px solid black;"></div>
              <div>
                <span style="padding-left:10px;"><%= comment.user.nickname %></span>
                <span><%= comment.created_at %></span>
              </div>
            </div>
            <div class="comment_body" style="padding:0 20px 20px 20px;">
              <p style="color:gray;">内容:</p>
              <p><%= comment.comment %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p style="padding-top:80px;">コメントはありません</p>
    <% end %>
  </div>
</div>