<%= image_tag asset_url('田舎.jpg'), class: "header__image" %>
<div class="app-title-field">
  <p class="app-title">Welcome to blogeeeeer!</p>
</div>
<%= render 'shared/header' %>
<div class="content__main">
  <h1 class="content__title">活動記録</h1>
  <% @categories_slice.each do |categorys| %>
    <div class="row">
      <% categorys.each do |category| %>
        <%= link_to articles_path(category_id: category.id), class: "category-link" do %>
          <div class="col">
            <%= image_tag category.image.url, size: '250x150' unless category.image.url.nil? %>
            <p class="category-name"><%= category.category_name %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
<%= render 'shared/footer' %>