<%= image_tag asset_url('田舎.jpg'), class: "header__image" %>
<div class="app-title-field">
  <p class="app-title">Welcome to blogeeeeer!</p>
</div>
<%= render 'shared/header' %>
<div class="content__main">
  <h1 class="content__title">活動記録</h1>
  <% @categories_slice.each do |categorys| %>
    <div class="row">
      <% categorys.each do |category| %>
        <%= link_to articles_path(category_id: category.id), class: "category-link" do %>
          <div class="col">
            <%= image_tag category.image.url, size: '250x150' unless category.image.url.nil? %>
            <p class="category-name"><%= category.category_name %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<div id="overlay">
</div>
<div id="drawer-menu">
  <ul>
    <% if Category.all.length > 0 %>
      <li>
        <%= link_to "新規作成", new_article_path, class: "header__new_article" %>
      </li>
    <% end %>
    <li>
      <%= link_to "カテゴリー管理", categories_path, class: "header__new_article" %>
    </li>
  </ul>
  <a id="close" href="javascript:void(0)">
    <i class="fas fa-times" style="color:white;font-size:30px;"></i>
  </a>
</div>
<%= render 'shared/footer' %>