<%= image_tag asset_url('田舎.jpg'), class: "header__image" %>
<%# <div class="app-title-field">
  <p class="app-title">Welcome to blogeeeeer!</p>
</div> %>
<%= render 'shared/header' %>
<div class="content__main">
  <div style="width:80%;">
    <h1 class="content__title">活動記録</h1>
    <% @categories_slice.each do |categorys| %>
      <div class="row">
        <% categorys.each do |category| %>
          <%= link_to articles_path(category_id: category.id), class: "category-link" do %>
            <div class="col">
              <%= image_tag category.image.url, size: '220x150' unless category.image.url.nil? %>
              <p class="category-name"><%= category.category_name %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div>
    <h3>人気記事ランキング</h3>
    <% @like_article_ranking.each.with_index(1) do |rank, i| %>
      <%= link_to article_path(rank), style: "text-decoration:none;" do %>
        <div class="rank_article">
          <span class="rank_article__number_<%= i %>"><%= i %>位</span>
          <span class="rank_article__category_name"><%= rank.category.category_name %></span>
          <p class="rank_article__title"><%= rank.title %></p>
          <span class="rank_article__likes_count">
            <i class="far fa-thumbs-up" style="padding-left:0;"><%= rank.likes.length %></i>
            
          </span>
          <p class="rank_article__content"><%= rank.content %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<%= render 'shared/footer' %>