<div class="login_container">
  <div class="login_container_main">
    <h1 class="page_title">パスワードを忘れた方へ</h1>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレスを入力してください", class: "email_field" %>
      </div>

      <div class="actions">
        <%= f.submit "送信", class: "send_btn" %>
      </div>
    <% end %>

    <div style="padding:20px">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>