<div class="header__navi">
  <div class="header__navi__sub">
    <%= link_to "blogeeeeer!", tops_path, class: "application_title" %>
    <%= link_to "記事を検索", search_articles_path, class: "fa fa-search" %>
    <% if user_signed_in? %>
      <%= link_to "#{current_user.nickname}さんのマイページ", user_profile_path(current_user.id,current_user.profile), class: "header__my_page" %>
      <%= link_to "ログアウト", destroy_user_session_path, class: "header__new_account", method: :delete %>
      <% if current_user.authority_id == 2 %>
        <a id="admin_menu" href="javascript:void(0)" style="line-height:30px;width:80px;font-size:13px;">
          <i class="fas fa-bars"> メニュー</i>
        </a>
      <% end %>
    <% else%>
      <%= link_to "ログイン", new_user_session_path, class: "header__new_account" %>
    <% end %>
  </div>
</div>
<div id="overlay">
</div>
<div id="drawer-menu">
  <ul>
    <% if Category.all.length > 0 %>
      <li>
        <%= link_to "新規作成", new_article_path, class: "header__new_article" %>
      </li>
    <% end %>
    <li>
      <%= link_to "カテゴリー管理", categories_path, class: "header__new_article" %>
    </li>
    <li>
      <%= link_to "ユーザー管理", users_path, class: "header__new_article" %>
    </li>
  </ul>
  <a id="close" href="javascript:void(0)">
    <i class="fas fa-times" style="color:white;font-size:30px;"></i>
  </a>
</div>
<%= render 'layouts/notifications' %>