<div class="login_container">
  <div class="login_container_main">
  <%= render 'layouts/notifications' %>
    <h1 class="page_title">ログイン</h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div style="display:flex;justify-content:center;">
        <button class="admin_user" style="border-radius:3px;margin:0 10px;">管理者でログイン(TEST用)</button>
        <button class="general_user" style="border-radius:3px;margin:0 10px;">一般でログイン(TEST用)</button>
      </div>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレスを入力してください", class: "email_field" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワードを入力してください", class: "password_field" %>
      </div>

      <div class="twitter_login_field">
        <%= link_to user_twitter_omniauth_authorize_path, class: "twitter_login_link" do %>
          <i class="fab fa-twitter"><span class="twitter_login_msg">twitterでログイン</span></i>
        <% end %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "記憶しますか？" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "ログイン", class: "send_btn" %>
      </div>
    <% end %>

    <div style="padding:20px">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>