<div class="login_container">
  <div class="login_container_main">
    <h1 class="page_title">ログイン</h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレスを入力してください", class: "email_field" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワードを入力してください", class: "password_field" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "記憶しますか？" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "ログイン", class: "send_btn" %>
      </div>
    <% end %>

    <div style="padding:20px">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>