<%= render 'shared/header' %>
<h1 class="page_title">カテゴリー編集</h1>
<div class="container">
  <div class="container_main">
    <%= form_with model: @new_category do |f| %>
      <div class="category_image_field">
        <%= image_tag '猫.jpeg', size: '500x300' %>
          <%= f.file_field :image, class: "category_image_upload" %>
      </div>
      <div class="category_name_field">
        <%= f.text_field :category_name, placeholder: "カテゴリー名を入力してください", class: "category_name" %>
        <%= f.submit "作成", class: "category_new_send" %>
      </div>
    <% end %>
  </div>
</div>