<%= render 'shared/header' %>
<h1 class="page_title">カテゴリー一覧</h1>
<div class="container">
  <div class="container_main">
    <div class="add_category">
      <a href="#">カテゴリー追加<i class="far fa-plus-square"></i></a>
    </div>
    <% @categories.each.with_index(1) do |category, i| %>
      <div class="category">
        <%= link_to articles_path(category_id: category.id), class: "category-link", style: "display:flex;justify-content:center;" do %>
          <%= image_tag '猫.jpeg', class: "category__image", size: '250x150' %>
          <h1 class="category__name"><%= category.category_name %></h1>
        <% end %>
        <div class="category__content">
          <table>
            <tr>
              <td style="text-align:right;"><b>記事数</b></td>
              <td><%= category.articles.length %></td>
            </tr>
            <tr>
              <td style="text-align:right;"><b>いいね総数</b></td>
              <td>
                <%= @category_likes_count[i] == nil ? 0 : @category_likes_count[i] %>
              </td>
            </tr>
            <tr>
              <td style="text-align:right;"><b>コメント総数</b></td>
              <td>
                <%= @category_comments_count[i] == nil ? 0 : @category_comments_count[i] %>
              </td>
            </tr>
            <tr>
              <td style="text-align:right;"><b>カテゴリー作成日</b></td>
              <td><%= category.created_at.strftime("%Y/%m/%d") %></td>
            </tr>
            <tr>
              <td style="text-align:right;"><b>最終更新日</b></td>
              <td><%= category.articles.order(:created_at).last.created_at.in_time_zone('Tokyo').strftime('%Y/%m/%d') %></td>
            </tr>
          </table>
        </div>
        <i class="fas fa-angle-double-left" style="font-size:30px;margin:auto 10px;"></i>
      </div>
    <% end %>
  </div>
</div>